
<table class="table">
  <tr>
      <td colspan="1" align='left' >
          <label>*Project</label>
      </td>
      <td colspan="6" class="td" align='left'>
          <input type = "text"
          [(ngModel)] = "ProjectDetails.Project"
      id = "myText" style="width:60%"/>
      </td>
      <td colspan="3" align="right">
      <span style="color:red" class="col-5" [hidden]="isProjectEmpty">Required Field</span>
      </td>
  </tr> 
  
  <tr>
    <td align='left' colspan="1" >
            <label>*Start Date</label>
    </td>
    <td class="date" align='left' colspan="6">
            <input type = "date"
            [(ngModel)] = "ProjectDetails.StartDate"
            id = "startDate" style="width:38%"/>
    </td>
    <td colspan="3" align="right">
        <span style="color:red" class="col-5" [hidden]="isStartDateEmpty">Required Field</span>
        </td>
</tr>
<tr>
    <td align='left' colspan="1">
            <label>*End Date</label>
    </td>
    <td class="date" align='left' colspan="6">
            <input type = "date"
            [(ngModel)] = "ProjectDetails.EndDate"
            id = "endDate" style="width:38%"/>
    </td>
    <td colspan="3" align="right">
        <span style="color:red" class="col-5" [hidden]="isEndDateEmpty">Required Field</span>
        </td>
</tr>    
  <tr>
      <td align='left' >
              <label>Priority</label>
              
      </td>
      <td class="td" >
          <table style="width:80%;">
              <tr>
                  <td style="width:80%;">
                      <input type = "Range"
                      id = "RangeBar" [(ngModel)] = "ProjectDetails.Priority" onchange='document.getElementById("range_value").innerText =  document.getElementById("RangeBar").value;' style="width:100%" min='0' max="10" value="0"/>
                  </td>
              <td style="width:10%;">
                      <label id=
                      'range_value'></label>
              </td>
          </tr>
          </table>
              
              
      </td>
  </tr>
   
    
 <tr>
     <td align='left'  colspan="1">
          <label>*Manager</label>
     </td>
     <td class="td" align='left' colspan="6">
          <input type = "text" 
          [(ngModel)] = "ManagerNmae"
          readonly
           id = "myTextParentTask" style="width:60%"/>
     </td>
     <td style="padding-left:2%"><button (click)='search()'>Search</button></td>
    <td align='right'><span style="color:red" class="col-5" [hidden]="isManagerEmpty">Required Field</span></td> 
     
    
  
  </tr>   
  <tr>
    <td colspan="4" align="right">
        <div [ngStyle]="{'display':userdisplay}"></div>

        <!-- modal -->
        <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':userdisplay}">
          <!-- modal-dialog -->
          <div class="modal-dialog" role="document">
            <!-- modal-content -->
            <div class="modal-content">
              <!-- modal-header -->
              <div class="modal-header">
               
                <h4 class="modal-title">Select User</h4>
              </div>
        
              <!-- modal-body -->
              <div class="modal-body">
              
                    <div>
                        <input type="text" class="textbox" name="SearchManager" placeholder="Search..." >
                    </div>      
                    <div>
                      <table border="true"  *ngIf="usersdata">
                        <tr>
                            <th *ngFor="let col of columnsofUsers">
                              {{col}}
                            </th>
                            <th>
                              <label></label>
                            </th>
                            
                          
                          </tr>
                         
                          <tr  *ngFor="let user of usersdata">
                            <td *ngFor="let col of columnsofUsers">
                              {{user[col]}}
                            </td>
                            <td><button  (click)='select(user)'>SELECT</button></td>         
                            
                          </tr>
                      </table>
                    </div>
                   
               
              </div>
        
              <!-- modal-footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="closeUserDialog()" >Close</button>
              </div>
            </div>
          </div>
        </div>
    </td>
    
  </tr>     
      
  
  <tr>
      
          <td style="padding-left:10%"><button [disabled]="isAdd"  (click)='add()'>ADD</button></td>
          <td style="padding-left:10%"><button [disabled]="isUpdate" (click)='update()'>Update</button></td>
          <td style="padding-left:5%"><button (click)='reset()'>RESET</button></td>
      
  </tr>
 
</table>

<table class="table">
<tr>
  <td>Sort by:</td>
  
  <td><button (click)="sortUsers('StartDate')">StartDate</button></td>
  <td><button (click)="sortUsers('EndDate')">EndDate</button></td>
  <td><button (click)="sortUsers('Priority')">Priority</button></td>    
  <td><button (click)="sortUsers('CompletedTask')">Completed</button></td>
</tr>
<tr >
    <th *ngFor="let col of columns" >
      {{col}}
    </th> 

    <th>No. Of Tasks</th>   
    <th>Completed</th>     
    <th>
      
    </th>  
    <th></th>
</tr>
<!-- orderBy: expression : reverse -->
  <tr *ngFor="let task of ProjectList " >
        <td  *ngFor="let col of columns">
          {{task[col]}}
        </td>
        <td>
          {{getTotalTask(task.ProjectID)}}
        </td>
        <td>
          {{getCompletedTask(task.ProjectID,task)}}
        </td>
        <td>
          <button (click)='Edit(task.ProjectID)'>Edit</button>
      </td>
      <td>
          <button (click)='Delete(task.ProjectID)'>Delete</button>
      </td>
      </tr>

</table>

