.table{
    border:2px solid grey;
    padding:10px;
    background-color:  rgba(206, 248, 177, 0.918);
     width:60%;
     margin-left:5%
  
  }
  .date{
      align:'left'
  }
  
  .button{
      align:'Center'
  }
  .td
  {
      align:'left';
      padding-left:5%
  
  }