
<table class="table">
    <tr>
        <td  colspan="1" align='left' >
             <label>Project</label>
        </td>
        <td class="td" colspan="6" align='left'>
         
             <input type = "text" 
             [(ngModel)] = "ProjectName"
             [disabled]="IsParentTask"
             
              id = "myTextParentTask" style="width:60%"
              readonly/>
             
              
        </td>
        <td style="padding-left:2%"><button  [disabled]="IsParentTask" (click)='searchProject()'>Search</button></td>
        <td align='right'><span style="color:red" class="col-5" [hidden]="isProject">Required Field</span></td>
    </tr>   
         <tr>
           <td colspan="4" align='right'>
                  <div [ngStyle]="{'display':projectdisplay}"></div>
        
                  <!-- modal -->
                  <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':projectdisplay}">
                    <!-- modal-dialog -->
                    <div class="modal-dialog" role="document">
                      <!-- modal-content -->
                      <div class="modal-content">
                        <!-- modal-header -->
                        <div class="modal-header">
                         
                          <h4 class="modal-title">Select Project</h4>
                        </div>
                  
                        <!-- modal-body -->
                        <div class="modal-body">
                        
                              <div>
                                  <input type="text" class="textbox"  placeholder="Search..." >
                              </div>      
                              <div>
                                <table border="true"  *ngIf="projectdata">
                                  <tr>
                                      <th *ngFor="let col of columnsofProject">
                                        {{col}}
                                      </th>
                                      <th>
                                        <label></label>
                                      </th>
                                      
                                    
                                    </tr>
                                   
                                    <tr  *ngFor="let project of projectdata ">
                                      <td *ngFor="let col of columnsofProject">
                                        {{project[col]}}
                                      </td>
                                      <td><button  (click)='selectproject(project)'>SELECT</button></td>         
                                      
                                    </tr>
                                </table>
                              </div>
                             
                         
                        </div>
                  
                        <!-- modal-footer -->
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" (click)="closeprojectDialog()" >Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
            
           </td>
         </tr>
           
  
  
    
    <tr>
        <td align='left' >
                <label>Priority</label>
                
        </td>
        <td class="td">
            
                <tr>
                    <td style="width:60%;">
                        <input type = "Range"
                        [disabled]="IsParentTask"
                        id = "RangeBar"    [(ngModel)] = "TaskDetails.Priority" onchange='document.getElementById("range_value").innerText =  document.getElementById("RangeBar").value;' style="width:100%" min='0' max="10" value="0"/>
                    </td>
                <td style="width:10%;">
                        <label id=
                        'range_value'></label>
                </td>
            </tr>
           
                
                
        </td>
    </tr>
    <tr>
        <td colspan="1" align='left' >
            <label>Task</label>
        </td>
        <td class="td" colspan="6" align='left' >
            <input type = "text"
            [(ngModel)] = "TaskDetails.Task"
           
        id = "myText" style="width:60%"/>
        </td>
        <td align='right' colspan="3"><span style="color:red" class="col-5" [hidden]="isTaskEmpty">Required Field</span></td>
    </tr> 
    <tr>
        <td align="left" >
               
            <input type="checkbox"  align="left" name="IsParentTask1" 
            class="form-control parent-task"         
            [(ngModel)]="IsParentTask" > 
            Is Parent Task
        </td>
           
    </tr>
    <tr>
        <td colspan="1" align='left' >
             <label>Parent Task</label>
        </td>
        <td class="td" colspan="6" align='left'>
             <input type = "text" 
             [(ngModel)] = "parentTask"
             [disabled]="IsParentTask"
              id = "myTextParentTask" style="width:60%" readonly/>
        </td>
        <td style="padding-left:2%"><button  [disabled]="IsParentTask" (click)='searchParentTask()'>Search</button></td>
        <td align='right'><span style="color:red" class="col-5" [hidden]="isParentTask">Required Field</span></td>

     </tr>   
<tr>
    <td colspan="4" align='right'>
        <div [ngStyle]="{'display':ParentTaskdisplay}"></div>

        <!-- modal -->
        <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':ParentTaskdisplay}">
          <!-- modal-dialog -->
          <div class="modal-dialog" role="document">
            <!-- modal-content -->
            <div class="modal-content">
              <!-- modal-header -->
              <div class="modal-header">
               
                <h4 class="modal-title">Select Parent Task</h4>
              </div>
        
              <!-- modal-body -->
              <div class="modal-body">
              
                    <div>
                        <input type="text" class="textbox"   placeholder="Search..." >
                    </div>      
                    <div>
                      <table border="true"  *ngIf="ParentTaskdata">
                        <tr>
                            <th *ngFor="let col of columnsofParentTask">
                              {{col}}
                            </th>
                            <th>
                              <label></label>
                            </th>
                            
                          
                          </tr>
                         
                          <tr  *ngFor="let user of ParentTaskdata">
                            <td *ngFor="let col of columnsofParentTask">
                              {{user[col]}}
                            </td>
                            <td><button  (click)='selectParenTask(user)'>SELECT</button></td>         
                            
                          </tr>
                      </table>
                    </div>
                   
               
              </div>
        
              <!-- modal-footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="closeParentTaskDialog()" >Close</button>
              </div>
            </div>
          </div>
        </div>
  </td>
</tr>
    <tr>
      <td align='left' >
              <label>Start Date</label>
      </td>
      <td class="date" style="padding-left: 10px;">
              <input type = "date"
              [disabled]="IsParentTask"
              [(ngModel)] = "TaskDetails.StartDate"
              id = "startDate" style="width:70%"/>
      </td>
  
      <td align='left' >
              <label>End Date</label>
      </td>
      <td class="date">
              <input type = "date"
              [disabled]="IsParentTask"
              [(ngModel)] = "TaskDetails.EndDate"
              id = "endDate" style="width:61%"/>
      </td>
  </tr>    
    
  <tr>
      <td colspan="1" align='left'>
           <label>User</label>
      </td>
      <td class="td" colspan="6" align='left'>
           <input type = "text" 
           [(ngModel)] = "UserName"
           [disabled]="IsParentTask"
            id = "myTextParentTask" style="width:60%" readonly/>
      </td>
      <td style="padding-left:2%"><button  [disabled]="IsParentTask" (click)='searchUser()'>Search</button></td>
      <td align='right'><span style="color:red" class="col-5" [hidden]="isUser">Required Field</span></td>
    </tr>   
      <tr>
          <td colspan="4" align='right'>
              <div [ngStyle]="{'display':userdisplay}"></div>
      
              <!-- modal -->
              <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':userdisplay}">
                <!-- modal-dialog -->
                <div class="modal-dialog" role="document">
                  <!-- modal-content -->
                  <div class="modal-content">
                    <!-- modal-header -->
                    <div class="modal-header">
                     
                      <h4 class="modal-title">Select User</h4>
                    </div>
              
                    <!-- modal-body -->
                    <div class="modal-body">
                    
                          <div>
                              <input type="text" class="textbox"   placeholder="Search..." >
                          </div>      
                          <div>
                            <table border="true"  *ngIf="usersdata">
                              <tr>
                                  <th *ngFor="let col of columnsofUsers">
                                    {{col}}
                                  </th>
                                  <th>
                                    <label></label>
                                  </th>
                                  
                                
                                </tr>
                               
                                <tr  *ngFor="let user of usersdata">
                                  <td *ngFor="let col of columnsofUsers">
                                    {{user[col]}}
                                  </td>
                                  <td><button  (click)='select(user)'>SELECT</button></td>         
                                  
                                </tr>
                            </table>
                          </div>
                         
                     
                    </div>
              
                    <!-- modal-footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" (click)="closeUserDialog()" >Close</button>
                    </div>
                  </div>
                </div>
              </div>
        </td>
      </tr>
   
        
       
    
    <tr>
           <td style="padding-left:30%"><button [disabled]="isAdd" (click)='Add()'>Add</button></td>
            <td style="padding-left:30%"><button [disabled]="isUpdate" (click)='update()' >Update</button></td>
            <td style="padding-left:15%"><button (click)='cancel()'>Cancel</button></td>
        
    </tr>
  
  </table>
  
  
  