
<table class="table">
    <tr>
        <td align='left'>
            <label>*First Name</label>
        </td>
        <td class="td">
            <input type="text" [(ngModel)]="UserInfo.FirstName" id="myText" style="width:80%"  />
        </td>
        <td style="width:10%">
            
            </td>
            <span style="color:red" class="col-5" [hidden]="isFirstEmpty">Required Field</span>
    </tr>



    <tr>
        <td align='left'>
            <label>*Last Name</label>
        </td>
        <td class="td">
            <input type="text" [(ngModel)]="UserInfo.LastName" id="myTextParentTask" style="width:80%" />
        </td>
        <td style="width:10%">
            
            </td>
            <span style="color:red" class="col-5" [hidden]="isLastEmpty">Required Field</span>
    </tr>
    <tr>
        <td align='left'>
            <label>*Employee ID</label>
        </td>
        <td class="td">
            <input type="number" [(ngModel)]="UserInfo.EmployeeID" id="myTextParentTask" style="width:80%" />
        </td>
        <td style="width:10%">

        </td>
        <span style="color:red" class="col-5" [hidden]="isEmpEmpty">Required Field</span>

    </tr>



    <tr>
        <td colspan="3" align="center">
                <table style="width:100%">
                        <tr>
                                <td align="center">
                                        <button [style]="{'display':adddisplay}" [disabled]="isAdd" (click)='add()'>ADD</button>
                                    </td>
                                    <td align="center">
                                        <button [style]="{'display':updatedisplay}" [disabled]="isUpdate"  (click)='update()'>UPDATE</button>
                                    </td>
                                    <td align="center">
                                        <button (click)='reset()'>RESET</button>
                                    </td>
                        </tr>
                    </table>
        </td>
        
        

    </tr>

</table>

<table class="table">
    <tr>
        <td>
            <input type="text" [(ngModel)]="Search" id="myText" style="width:100%" />
        </td>

        <td>Sort by:</td>
        <td>
            <button (click)="sortUsers('EmployeeID')">EmployeeID</button>
        </td>
        <td>
            <button (click)="sortUsers('FirstName')">FirstName</button>
        </td>
        <td>
            <button (click)="sortUsers('LastName')">LastName</button>
        </td>
    </tr>

    <tr *ngIf="columns && columns.length > 0">
        <th *ngFor="let col of columns">
            {{col}}
        </th>
    </tr>

    <tr *ngFor="let task of UserDetails | searchUserFilter : Search">
        <td *ngFor="let col of columns">
            {{task[col]}}
        </td>
        <td>
            <button (click)='Edit(task.UserID)'>Edit</button>
        </td>
        <td>
            <button (click)='Delete(task.UserID)'>Delete</button>
        </td>
    </tr>
</table>