
<table class="table">
    <tr>
        <td align='left' >
             <label>Project</label>
        </td>
        <td class="td">
             <input type = "text" 
             [(ngModel)] = "ProjectName"
              id = "myTextParentTask" style="width:100%" readonly/>
        </td>
        <td><button (click)='search()'>Search</button></td>
        
        <td>Sort by:</td>
     <td><button (click)="sortUsers('StartDate')">StartDate</button></td>
     <td><button (click)="sortUsers('EndDate')">EndDate</button></td>
     <td><button (click)="sortUsers('Priority')">Priority</button></td>    
     <td><button (click)="sortUsers('Status')">Status</button></td>
     </tr>  
     <tr>
        <td colspan="7" align='right'>
            <div [ngStyle]="{'display':projectdisplay}"></div>
  
            <!-- modal -->
            <div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':projectdisplay}">
              <!-- modal-dialog -->
              <div class="modal-dialog" role="document">
                <!-- modal-content -->
                <div class="modal-content">
                  <!-- modal-header -->
                  <div class="modal-header">
                   
                    <h4 class="modal-title">Select Project</h4>
                  </div>
            
                  <!-- modal-body -->
                  <div class="modal-body">
                  
                        <div>
                            <input type="text" class="textbox"  placeholder="Search..." >
                        </div>      
                        <div>
                          <table border="true"  *ngIf="projectdata">
                            <tr>
                                <th *ngFor="let col of columnsofProject">
                                  {{col}}
                                </th>
                                <th>
                                  <label></label>
                                </th>
                                
                              
                              </tr>
                             
                              <tr  *ngFor="let project of projectdata ">
                                <td *ngFor="let col of columnsofProject">
                                  {{project[col]}}
                                </td>
                                <td><button  (click)='selectproject(project)'>SELECT</button></td>         
                                
                              </tr>
                          </table>
                        </div>
                       
                   
                  </div>
            
                  <!-- modal-footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="closeprojectDialog()" >Close</button>
                  </div>
                </div>
              </div>
            </div>
      </td>
     </tr>
     <tr >
            <th *ngFor="let col of columns" >
              {{col}}
            </th>            
     </tr>

          <tr *ngFor="let task of TaskDetails | viewTaskFilter :ProjectName" >
                <td  *ngFor="let col of columns">
                  {{task[col]}}
                </td>
                <td style="border : 1px solid #ddd;border-collapse: collapse;"><button [disabled] = 'task.Flag === 1' (click)='editPage(task)'>EDIT</button></td>
        <td style="border : 1px solid #ddd;border-collapse: collapse;"><button [disabled] = 'task.Flag === 1' (click)='endTask(task)'>END TASK</button></td>
        <td style="border : 1px solid #ddd;border-collapse: collapse;"><button [disabled] = 'task.Flag === 1' (click)='deleteTask(task)'>DELETE</button></td>
              </tr>
</table>