<!--The content below is only a placeholder and can be replaced.-->
 
<div style="text-align:center">
  <h1>
     {{ title }}
  </h1> 
  <div style="margin-left:5%">
      <table style="width:80%">
          <td style="padding-bottom: 5%;padding-top: 5%;">
          <a routerLink = "/project"> Add Project</a>
          </td>
          <td style="padding-bottom: 5%;padding-top: 5%;">
          <a routerLink = "/addtask"> Add Task</a>
          </td>
          <td style="padding-bottom: 5%;padding-top: 5%;">
            <a routerLink = "/viewtask"> View Task</a>
            </td>
            <td style="padding-bottom: 5%;padding-top: 5%;">
            <a routerLink = "/user"> Add User</a>
            </td>
        </table>
  </div>
  
  <!-- </div> -->
  <router-outlet>

  </router-outlet>

